body {
  background-color: #fff;
}

.dfcacenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 100%;
  padding: 5%;
  background-color: #e7e4e4;
}

.sameStyle {
  font-size: 33px;
  text-align: center;
}

.width85 {
  width: 85%;
  border: 1px solid pink;
}

.book-container {
  display: flex;
  justify-content: space-between;
  border: 1px dotted yellowgreen;
}

.heading {
  border: 1px dotted rebeccapurple;
}

h4 {
  margin: auto;
}

.inputElements {
  width: 60%;
  margin: 2% auto;
}
