body {
  font-family: 'Sumana', sans-serif;
  margin: auto;
}

header {
  width: 100%;
  padding-bottom: 2%;
}

.links {
  display: flex;
  list-style: none;
  margin: auto 0;
  justify-content: space-between;
  align-content: baseline;
}

nav.links {
  width: 95%;
}

.logo {
  margin-left: 2%;
}

a {
  text-decoration: none;
}

ul.links {
  width: 40%;
  font-weight: 600;
  cursor: pointer;
}

#time {
  position: absolute;
  top: 0;
  right: 4%;
  padding: 1% 4%;
  font-weight: 600;
  font-size: 12px;
}

.dfcacenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  position: relative;
  width: 90%;
  height: 79vh;
  padding: 5%;
  background-color: #e7e4e4;
}

.sameStyle {
  font-size: 33px;
  text-align: center;
}

.width85 {
  width: 85%;
  border: 2px solid #f8bcf8;
}

div.book-container:nth-child(even) {
  background-color: #ddcedd;
}

.book-container {
  display: flex;
  justify-content: space-between;
  background-color: #e9d9e9;
  padding-right: 2%;
}

.heading {
  display: flex;
  align-items: center;
  padding: 1% 2%;
}

.flexwide {
  flex: 4;
}

.flexnarow {
  flex: 1;
}

h4 {
  margin: 0;
  padding: 3% 0;
  line-height: 20px;
}

.formHolder {
  padding: 10% 0;
}

.inputElements {
  width: 73%;
  margin: 2% auto;
  line-height: 28px;
}

#submitBtn {
  text-align: end;
  line-height: 20px;
}

hr {
  width: 25%;
  margin-bottom: 0;
  margin-top: 15%;
}

.hide {
  display: none;
}

.remove {
  background-color: #f6e4f6;
  font-size: 14px;
  font-weight: 600;
  padding: 1%;
  cursor: pointer;
}

footer {
  background-color: #e9d9e9;
  width: 100%;
}

footer > p {
  padding-left: 2%;
}

@media (min-width: 465px) {
  body {
    background-color: rgb(97, 10, 10);
  }
  
  header {
    width: 70%;
    background-color: #fff;
  }
  
  section { 
    width: 60%;
  }
  
  footer {
    width: 70%;
  }
}
